html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
    .table-responsive table, 
    .table-responsive thead, 
    .table-responsive tbody, 
    .table-responsive th, 
    .table-responsive td, 
    .table-responsive tr {
        display: block;
    }

    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        border: 1px solid var(--bs-border-color);
        margin-bottom: 1rem;
        background-color: var(--bs-body-bg);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 8px;
        overflow: hidden;
    }

    .table-responsive td {
        border: none;
        border-bottom: 1px solid var(--bs-border-color);
        position: relative;
        padding-left: 50% !important;
        text-align: right;
        white-space: normal;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .table-responsive td:before {
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-label);
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
    }
    
    .table-responsive td:last-child {
        padding-left: 15px !important;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: var(--bs-tertiary-bg);
    }
    .table-responsive td:last-child:before {
        display: none;
    }
}

.table-fixed-layout {
    table-layout: fixed;
}

.col-width-15 {
    width: 15%;
}

.col-width-actions {
    width: 150px;
}